<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} None {% endblock title %} | Learning Flask</title>

        {# Boostrap CSS #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

        {# Boostrap icons #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    </head>

    <body class="container">
        
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" id="home-navBar-link" aria-current="page" href="{{ url_for('index') }}">Home</a>
                  <a class="nav-link" id="information-navBar-link" href="{{ url_for('information') }}">Information</a>
                  <a class="nav-link" id="contact-navBar-link" href="{{ url_for('contact') }}">Contact</a>
                  <a class="nav-link" id="cars-navBar-link" href="{{ url_for('cars') }}">Cars</a>
                  <a class="nav-link" id="create_car-navBar-link" href="{{ url_for('create_car') }}">Create Car</a>
                </div>
              </div>
            </div>
          </nav>

        <section id="content">
            {% block content %}{% endblock content %}
        </section>
        
        <footer class="mt-5">
            <hr>
            <p class="text-secondary" align="center">javierfolder.com | {{now.year}}</p>
        </footer>
        
        {# Boostrap JS #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/layout.js') }}"></script>
    </body>
</html>